h1  {
      color:#F08080;
      font-size:40px;
      padding-right:50%;
    }
*   {
      text-align : center;
    }
ul
    {
       list-style-position: inside;
    }

  .string{
    font-family: Tahoma;
    font-size: 20px;
  } 
  .frase{
    font-weight: bold;
    color:green;
    font-family: Tahoma;
    font-size: 20px;
  }
