h1  {
      margin: 20px 0 0 0;
      color:#6433FF;
      font-size:40px;
      font-family: 'Satisfy', cursive;
    }
*   {
      text-align : center;
    }
ul
    {
       list-style-position: inside;
    }

  .string{
    font-family: Tahoma;
    font-size: 20px;
  } 

